<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<h1 th:text="${title}"></h1>

<nav th:replace="fragments :: adminNav"></nav>
<div class="admin-background">
    <body class="container text-white">
    <br/><br/>
<form method="post">

    <div class="container">

        <div th:each="address : ${addresses}" class="checkbox col-3"  style="display:inline-block">
            <input type="checkbox" name="addressIds" th:value="${address.id}" th:id="${address.id}"/>
            <label th:for="${address.id}" th:text="${address.name}"></label>
            <br/>
        </div>
    </div>
    <br/>
    <div class="search-button">
        <input type="submit" class="btn btn-primary" value="Delete School"/>
    </div>
    <br />
</form>

</body>
</html>