<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<div class="container">
    <div class="jumbotron">
        <div th:each="address : ${addresses}">
            <h1 th:text="${address.name}"></h1>
                <p th:text="${address.address1} + ', ' + ${address.city} + ', ' + ${address.state} + ' ' + ${address.zipCode}"></p>
                <p th:text="'Teacher to student ratio is 1:' + ${schoolInfo.ratio}"></p>
                <p th:text="'Does the child need to be potty trained? ' + ${schoolInfo.pottyTrained}"></p>
                <p th:text=" "
        </div>
    </div>

</div>

</body>
</html>