<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<div class="container">
    <div class="page-header">
        <div class="clearfix">
            <span class="float-right"><a href="/admin/add" class="btn btn-info" role="button">Add New Preschool</a></div></span>
        </div>
        <div>
            <h1 th:text="${title}"></h1>
        </div>
    </div>
</div>


<div class="card card-body bg-light">
    <div class="list-group">
        <p th:unless="${addresses}" and ${addresses.size()}>No Preschools Listed</p>
        <ul>
            <li th:each="address : ${addresses}" th:text="${address.name}" ></li> <!--TODO add link to each school-->
        </ul>
     <!--   <a href="#" class="list-group-item">School</a>
        <a href="#" class="list-group-item">Another School</a>
        <a href="#" class="list-group-item">A different School</a> -->
    </div>
</div>



</body>
</html>