<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<div class="container">
    <div class="page-header">
        <div class="clearfix">
            <span class="float-right"><a href="/admin/add" class="btn btn-info" role="button">Add New Preschool</a></div></span>
        </div>
        <div>
            <h1 th:text="${title}"></h1>
        </div>
    </div>
</div>


<div class="card card-body bg-light">
    <div th:each="address : ${addresses}">
        <p th:unless="${addresses}" and ${addresses.size()}>No Preschools Listed</p>
            <table class="table table-striped">
                <tr>  <!--TODO not displaying as a link...-->
                    <th th:text="${address.name}"></th>
                        <td th:text="${address.address1} + ' , ' + ${address.city} + ' , ' + ${address.state} + ' , ' + ${address.zipCode}"></td>
                </tr>
            </table>
    </div>
</div>



</body>
</html>