<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<div class="admin-background">
    <div class="left-padding">
    <body class="text-white">
    <br/><br/>
    <h1 th:text="${title}"></h1>


<form method="post" style="max-width:500px;" th:object="${schoolInfo}">
    <p><div class="form-group">
        <label th:for="ratio">How many students per teacher?</label>
        <input type="number" min="0" class="form-control" th:field="*{ratio}" required="required" placeholder="Students per Teacher"/>
        <span th:errors="*{ratio}" class="error"></span>
    </div></p>

    <p><div class="form-group">
        <label>Does the child need to be potty trained?</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" th:field="*{pottyTrained}" value="Yes">
        <label class="form-check-label" th:for="pottyTrained">Yes</label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="radio" th:field="*{pottyTrained}" value="No">
        <label class="form-check-label" th:for="pottyTrained">No</label>
    </div>

    <p><div class="form-group">
        <label th:for="hours">How many hours of school per week?</label>
        <input type="number" min="0" class="form-control" th:field="*{hours}" required="required" placeholder="Hours per week?"/>
        <span th:errors="*{hours}" class="error"></span>
    </div></p>

    <div>
        <label th:for="tuition">Tuition</label>
        <input type="number" min="0.00" max="100000" step="0.01" class="form-control"
               th:field="*{tuition}" placeholder="$ per month" required="required"/>
        <span th:errors="*{tuition}" class="error"></span>
    </div><br/>

    <input type="hidden" th:value="${newAddressFK}" name="newAddressFK"/>
    <input type="submit" value="Submit School Information"/><br/><br/><br/>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>


</form>

</body>
    </div>
</div>
</html>
