<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container jumbotron">
<nav th:replace="fragments :: userNav"></nav>

<form method="post" style="max-width:500px;">

    <div class="text-danger">
        <div th:text="${error}"></div>
    </div>
    <div class="form-group">
        <input type="text" th:value="${searchName}" name="searchName"/>
        <input type="submit" value="Search by Name"/>
    </div>

</form>

</body>
</html>