<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container jumbotron">
<nav th:replace="fragments :: userNav"></nav>

<form method="post" style="max-width:600px;" th:object="${searchChoice}">

    <div class="container"></div><br/><br/>

        <div class = text-warning>
            <h1><div th:text="${title}"></div></h1>
        </div><br/>

    <div class="form-check">
        <input class="form-check-input" type="radio" th:value="${name}" value="name">
        <label class="form-check-label" th:name="searchChoice">Name</label>
    </div>

    </div>
    <br/>
    <div class="search-button">
        <input type="submit" class="btn btn-primary" value="Submit"/>
    </div>
    <br/>
</form>


</body>
</html>