<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/" xmlns:type="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>
<body class="search-background">
<nav th:replace="fragments :: userNav"></nav>

    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h1 th:text="${title}" class="card-title text-center"></h1>
                            <form method="post">
                                <label><input type="radio" onclick="window.location='/user/search/name';"/> Name</label><br/>
                                <label><input type="radio" onclick="window.location='/user/search/pottyTrained';"/> Potty Trained</label><br/>
                                <div> Tuition **COMING SOON**</div>
                                <div> Location **COMING SOON**</div><br/>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>
</html>