<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/" xmlns:type="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>
<body class="container jumbotron">
<nav th:replace="fragments :: userNav"></nav>

<form method="post" style="max-width:600px;" th:object="${searchChoice}">

    <div class="container"></div><br/><br/>

        <div class = text-warning>
            <h1><div th:text="${title}"></div></h1>
        </div><br/>

    <div><input type="radio" onclick="window.location='/user/search/name';"/> Name</div>
    <div><input type="radio" onclick="window.location='/user/search/pottyTrained';"/> Potty Trained</div>
    <div><input type="radio" onclick="window.location='/user/search/tuition';"/> Tuition</div>

    </div>
    <br/>
    <div class="search-button">
        <input type="submit" class="btn btn-primary" value="Submit"/>
    </div>
    <br/>
</form>


</body>
</html>