<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<div class="backdrop">
    <body th:style="'background: url('+@{images/crayons.jpg} +');'"/>

<nav th:replace="fragments :: userNav"></nav>

<div class="big-banner">

        <div class="text-warning top-padding">
            <div>
            <h1><center>Find the preschool that fits your family's needs.</center></h1>
              <!--  <img class="big-banner"  th:src="@{images/coloredPencils.jpg}"> -->
        </div>
    </div>
</div>


</body>
</div>
</html>