<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<nav th:replace="fragments :: userNav"></nav>

<form method="post" style="max-width:500px;" th:object="${userSearch}">

    <div class="form-group">
        <label th:for="searchForm">Name of Preschool</label>
        <input class="form-control" th:field="*{searchForm}" placeholder="School Name" />
        <input type="submit" value="Search by Name"/>
    </div>
</form>

</body>
</html>