
.background-picture{
 background-image: url('../static/images/coloredPencils.jpg');
 background-size: cover;
 background-repeat: no-repeat;
}

body{
  padding: 5rem, 2rem, 5rem, 2rem;
  background-color: ;
}
.top-padding{
    padding-top: 2rem;
}

.single-view{
    padding-top: 4rem;
    padding-left: 2rem;
}

.list-view{
    padding-left: 5rem;
    padding-right: 5rem;
}

.big-banner {
  /* The image used */
  background-image: src= url('../static/images/coloredPencils.jpg');
 /* "@{/static/images/coloredPencils.JPG}"*/

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}